[submodule "Atmosphere-libs"]
	path = Atmosphere-libs
	url = https://github.com/zdm65477730/Atmosphere-libs.git
[submodule "libtesla"]
	path = libtesla
	url = https://github.com/zdm65477730/libtesla.git